/*
    (1, 0, 0)
    (0, 1, 0)
    (0, 0, 1)
    (0, 0, 0)

    Los estilos que se definen dentro de las etiquetas como un atributo estan por encima de todo lo que vendria siendo un nivel 4 de especificidad
    !important; <--- Esta expresión me permite señalar que un estilo se SUPERPONDRÁ por encima de TODOS los demas estilos, lo que vendría siendo un quinto nivel de especificidad, ahora si tenemos mas de un !important; entonces se valdrá por los niveles de clases y de id.
    HAY QUE EVITAR EL USO DE ESTE TIPO DE OPERADORES !important; porque no es buena practica y se vuelve poco sostenible
*/

/* #h1-id.h1-clase{ /*Aqui el selector de especificidad tiene (1, 1, 0), esto por tener un "id" en el primer indice y el otro 1 por tener una "clase" */
    /*color: brown;
} */

h1#h1-id.h1-clase{/*Aqui el selector de especificidad tiene (1, 1, 1), esto porque estamos especificando una etiqueta h1, un "id" y una "clase" */
    color: darkmagenta;
}

.h1-clase{
    color: yellow;
}

h1{
    color: blueviolet !important; /*Estilo de mayor especificidad o jerarquia*/
}

p{
    color: red;
}